.btn{
    margin-bottom: 10px;
}
.gettasks{
    color: black;
}
.newtask{
    color: black;
}
.output{
    outline-style: solid;
    outline-color: red;
}
.pre{
    color: red;
}
.mytable{
    margin-bottom: 10px;
}
h2{
    color: red;
}
.newedit{
    background-color: greenyellow;
    width: fit-content;
    padding: 5px;
    padding-bottom: 0px;
}

.nocolor{
    background-color: white;
}